[submodule "Progress/ElasticDownload"]
	path = Progress/ElasticDownload
	url = https://github.com/Tibolte/ElasticDownload
[submodule "ViewPage/MaterialViewPager"]
	path = ViewPage/MaterialViewPager
	url = git@github.com:florent37/MaterialViewPager.git
[submodule "Animations/android-player"]
	path = Animations/android-player
	url = git@github.com:geftimov/android-player.git
